In [44]:
x = 10
y = 10.0

name = "Naomi"

list_1 = [1, 2, 3, 4, 5, 6]

dict_1 = {'key 1':2,
          'key 2':3}

z = x + y

print(z)

20.0

In [45]:
phrase = 'My name is Naomi.'

sub_string = phrase[::2]

print(sub_string)

M aei am.

In [46]:
list_2 = [1, 2, 3, 4, 5, 6, 9, 8, 7]

sub_list = list_2[-3:-2]

print(sub_list)

[9]

In [47]:
list_2 = [1, 2, 3, 4, 5, 6, 9, 8, 7]

list_2.append([10, 11])

list_2.extend([12, 13, 14])

print(list_2)

[1, 2, 3, 4, 5, 6, 9, 8, 7, [10, 11], 12, 13, 14]

In [48]:
dict_2 = {'key 1':1,
          'key 2':2,
          'key 3':3}

print(dict_2.values())
print(dict_2.keys())
print(list(dict_2.items())[0])

dict_values([1, 2, 3])
dict_keys(['key 1', 'key 2', 'key 3'])
('key 1', 1)

In [49]:
import pandas as pd

df = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})


df['Birthday'] = pd.to_datetime(df['Birthday'], format='%d/$m/$Y', errors='coerce')

df['Age March 31'] = pd.to_datetime('31/03/2024', dayfirst=True) - df['Birthday']
df['Age March 31'] = df['Age March 31'] / pd.Timedelta('365 days')
df['Age March 31'] = df['Age March 31'].round().astype('int', errors='ignore')

df['Age Now'] = pd.to_datetime('today()', dayfirst=True) - df['Birthday']
df['Age Now'] = df['Age Now'] / pd.Timedelta('365 days')
df['Age Now'] = df['Age Now'].round().astype('int', errors='ignore')

df['Age'] = pd.to_datetime('today').normalize() - df['Birthday']
df['Age'] = df['Age'] / pd.Timedelta('365 days')
df['Age'] = df['Age'].round().astype('int', errors='ignore')

print(df)

DateParseError: Unknown datetime string format, unable to parse: today(), at position 0

In [ ]:
unique_genders = df['Gender']

gender_dict = {'M':'m',
               'm':'m',
               'F':'f',
               'f':'f'}

df['Gender'] = df['Gender'].map(gender_dict)

df['Gender'] = df['Gender'].replace(r'^\s*$', pd.NA, regex=True)

print(df)

  ChildId  Age first contact Gender Birthday CP Plan?  Age March 31
0     id1                  6      m      NaT        Y           NaN
1     id2                 12      m      NaT        n           NaN
2     id3                 11      f      NaT        N           NaN
3     id4                  1    NaN      NaT       No           NaN
4     id5                 19      f      NaT      yES           NaN

In [ ]:
cp_cleaner = lambda row: 'y' if 'y' in row else 'n' if 'n' in row else pd.NA

df['CP Plan?'] = df['CP Plan?'].str.lower().apply(cp_cleaner)

print(df)

  ChildId  Age first contact Gender Birthday CP Plan?  Age March 31
0     id1                  6      m      NaT        y           NaN
1     id2                 12      m      NaT        n           NaN
2     id3                 11      f      NaT        n           NaN
3     id4                  1    NaN      NaT        n           NaN
4     id5                 19      f      NaT        y           NaN

In [ ]:
new_child = {
    'ChildId':['id6'],
    'Current Age': [10],
    'Age first contact':[9],
    'Gender':['m'],
    'Birthday':[pd.to_datetime('28/02/2014', dayfirst=True)],
    'Age at End of Reporting Period':[10],
    'NHS Number':['78132']
}
new_child = pd.DataFrame(new_child)

new_child

,ChildId,Current Age,Age first contact,Gender,Birthday,Age at End of Reporting Period,NHS Number
0,id6,10,9,m,2014-02-28,10,78132

In [50]:
new_child = {
    'ChildId':['id6'],
    'Current Age': [10],
    'Age':[9],
    'Gender':['m'],
    'Birthday':[pd.to_datetime('28/02/2014', dayfirst=True)],
    'Age March 31':[10],
    'NHS Number':['78132']
}

new_child = pd.DataFrame(new_child)

df = pd.concat([df, new_child], ignore_index=True)

df.drop_duplicates(subset='ChildId', keep='last', inplace=True)

df

,ChildId,Age first contact,Gender,Birthday,CP Plan?,Age March 31,Current Age,Age,NHS Number
0,id1,6.0,M,NaT,Y,NaN,NaN,NaN,NaN
1,id2,12.0,m,NaT,n,NaN,NaN,NaN,NaN
2,id3,11.0,F,NaT,N,NaN,NaN,NaN,NaN
3,id4,1.0,,NaT,No,NaN,NaN,NaN,NaN
4,id5,19.0,F,NaT,yES,NaN,NaN,NaN,NaN
5,id6,NaN,m,2014-02-28,NaN,10.0,10.0,9.0,78132

In [53]:
nhs_numbers = pd.DataFrame([
                            {'ChildId':'id1',
                            'NHS Number': '303',},
                            {'ChildId':'id2',
                            'NHS Number': '3u5029',},
                            {'ChildId':'id3',
                            'NHS Number': 'gqw3',},
                            {'ChildId':'id4',
                            'NHS Number': 'avsgvb',},
                            {'ChildId':'id5',
                            'NHS Number': 'varwvw',},
                            {'ChildId':'id5',
                            'NHS Number': 'ighasr1',},])

df = pd.merge(df, nhs_numbers, how='left', left_on='ChildId', right_on='ChildId' 
              suffixes=['_original', '_nhs_num'])

df

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2234381780.py, line 15)

In [ ]:
df['NHS Number_original'] = df['NHS Number_original'].fillna(df[NHS_number_nhs_num])
df.frop('NHS_number_nhs_num', inplace=True, axis=1)

df.rename({'NHS Number_original':'NHS Number')

In [ ]:
df.rename()