In [ ]:
insert pandas as publish_display_data

In [4]:
csv_2 = 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv'
csv_1 = 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv'

filename = [csv_1, csv_2]
print(filename)

['https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv', 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv']

In [8]:
import pandas as pd

csv_2 = 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv'
csv_1 = 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv'

filename = [csv_1, csv_2]

dfs = {}

for i, v in enumerate(filename):
    dfs[i] = pd.read_csv(v)
   
print(dfs)

{0:      Unnamed: 0        LAchildID            UPN  FormerUPN  UPNunknown  \
0             0  RND000215205141  A850728973744        NaN         NaN
1             1  RND000824303014  A141396438491        NaN         NaN
2             2  RND000750143123  A929946861554        NaN         NaN
3             3  RND000909164501  A612330267292        NaN         NaN
4             4  RND000382171815  A604459366806        NaN         NaN
..          ...              ...            ...        ...         ...
327         327  RND000112711501  A465246916125        NaN         NaN
328         328  RND000513120794  A540014111973        NaN         NaN
329         329  RND000541643134  A549582689058        NaN         NaN
330         330  RND000404939452  A889492349196        NaN         NaN
331         331  RND000589802835  A877624860226        NaN         NaN

    PersonBirthDate ExpectedPersonBirthDate  GenderCurrent PersonDeathDate
0        2019-12-06                     NaN              1             NaN
1        2011-04-27                     NaN              9             NaN
2        2017-06-06              2019-12-06              1             NaN
3        2014-10-03                     NaN              0             NaN
4        2019-09-25                     NaN              2             NaN
..              ...                     ...            ...             ...
327      2010-07-07                     NaN              2             NaN
328      2018-08-14                     NaN              2             NaN
329      2021-12-09                     NaN             51             NaN
330      2013-07-23                     NaN              2             NaN
331      2021-10-25                     NaN              9             NaN

[332 rows x 9 columns], 1:      Unnamed: 0        LAchildID Ethnicity
0             0  RND000215205141      WIRT
1             1  RND000824303014      WROM
2             2  RND000750143123      AOTH
3             3  RND000909164501      MWBC
4             4  RND000382171815      APKN
..          ...              ...       ...
327         327  RND000112711501      WOTH
328         328  RND000513120794      WROM
329         329  RND000541643134      BCRB
330         330  RND000404939452      AIND
331         331  RND000589802835      WBRI

[332 rows x 3 columns]}

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'Age':[5,12,11,6,2],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})
df['Birthday'] = pd.to_datetime(df['Birthday'], dayfirst=True)
df

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
1     id2                 12      m 2003-02-02   12        n
2     id3                 11      F        NaT   11        N
3     id4                  1        2023-03-03    6       No
4     id5                 19      F 2012-01-06    2      yES

In [12]:
condition = df['Age'] >= 10

over_10 = df[condition]

print(over_10)

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
1     id2                 12      m 2003-02-02   12        n
2     id3                 11      F        NaT   11        N

In [16]:
condition_1 = df['Age first contact'] <10

contact_under_10 = df[condition_1]

print(contact_under_10)

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
3     id4                  1        2023-03-03    6       No

In [17]:
error_condition = df['Age first contact'] > df['Age']

error_df = df[error_condition]

print(error_df)

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
4     id5                 19      F 2012-01-06    2      yES

In [19]:
condition_2 = df['Age first contact'] == df['Age']

new_df = df[condition_2]

print(new_df)

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
1     id2                 12      m 2003-02-02   12        n
2     id3                 11      F        NaT   11        N

In [25]:
statement_1 = 1 < 2
statement_2 = 2 == 2
statement_3 = 2 > 3
statement_4 = (statement_1 & statement_2) & statement_3

print(statement_4)

False

In [ ]:
statement_1 = 1 < 2 # False
statement_2 = 2 == 2 # True
statement_3 = 2 > 3 # False

statement_4 = (statement_1 & statement_2) & statement_3

print(statement_4)

print(((1 > 2) & (2 == 2))) # false, because 1 is not greater than 2 and both need to be true
print(((1 > 2) | (2 == 2))) # True because at least one of the components is true,
                            # even though 1 is not greater than 2
print(((3 > 2) | (2 == 2))) # Still true, as at least one is true
print(((3 > 2) & (2 == 2))) # Only strue because both are true

# In this cell, writet a logical test that fails an and condition,
# but passes an or condition, and print both

In [26]:
statement_5 = 6 > 5
statement_6 = 7 < 6
statement_7 = 7 == 7

statement_8 = statement_5 & statement_6

print(statement_8)

False

In [29]:
#.isna()
#.isin()
#str.contains()

no_birthday = df[df['Birthday'].isna()]
print(no_birthday)

has_birthday = df[df['Birthday'].notna()]
print(has_birthday)

  ChildId  Age first contact Gender Birthday  Age CP Plan?
2     id3                 11      F      NaT   11        N
  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
1     id2                 12      m 2003-02-02   12        n
3     id4                  1        2023-03-03    6       No
4     id5                 19      F 2012-01-06    2      yES

In [31]:
six_or_12 = (df['Age'] == 6) | (df['Age'] == 12)

df[df['Age'].isin([6,12])]
print(df)

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
1     id2                 12      m 2003-02-02   12        n
2     id3                 11      F        NaT   11        N
3     id4                  1        2023-03-03    6       No
4     id5                 19      F 2012-01-06    2      yES

In [33]:
str_condition = df['CP Plan?'].str.contains('Y')
df(str_condition)
print(df)

TypeError: 'DataFrame' object is not callable

In [ ]:
# .isna() / .notna()
# .isin()
# str.contains()
no_birthday = df[df['Birthday'].isna()]
has_birthday = df[df['Birthday'].notna()]
print(has_birthday)
six_or_twelve = (df['Age'] == 6) | (df['Age'] == 12)
df[six_or_twelve]
print(df[df['Age'].isin([6, 12])])
str_condition = df['CP Plan?'].str.lower().str.contains('y')
print(df[str_condition])

In [34]:
under_5_cp_plan = (df['Age'] <5) & df['CP Plan?'].str.lower().str.contains('y')
print(df[under_5_cp_plan])

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
4     id5                 19      F 2012-01-06    2      yES

In [38]:
first_contact_male = (df['Age first contact'] > 10) & df['Gender'].str.lower().str.contains('m')
print(df[first_contact_male])

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
1     id2                 12      m 2003-02-02   12        n

In [49]:
for x in list(range(1,20)):
    if x >= 10:
        print(f'{x} is greater than or equal to 10')
    if (x > 10) & (x < 15):
        print(f'{x} is less than 15')
    elif x == 9:
        print('The value was 9')
    else:
        print(f'{x} was not between 10 and 15')

1 was not between 10 and 15
2 was not between 10 and 15
3 was not between 10 and 15
4 was not between 10 and 15
5 was not between 10 and 15
6 was not between 10 and 15
7 was not between 10 and 15
8 was not between 10 and 15
The value was 9
10 is greater than or equal to 10
10 was not between 10 and 15
11 is greater than or equal to 10
11 is less than 15
12 is greater than or equal to 10
12 is less than 15
13 is greater than or equal to 10
13 is less than 15
14 is greater than or equal to 10
14 is less than 15
15 is greater than or equal to 10
15 was not between 10 and 15
16 is greater than or equal to 10
16 was not between 10 and 15
17 is greater than or equal to 10
17 was not between 10 and 15
18 is greater than or equal to 10
18 was not between 10 and 15
19 is greater than or equal to 10
19 was not between 10 and 15

In [50]:
for x in list(range(1,20)):
    if x >= 10:
        print(f'{x} is greater than or equal to 10')
        if (x > 10) & (x < 15):
            print(f'{x} is less than 15')
    elif x == 9:
        print('The value was 9')
    else:
        print(f'{x} was not between 10 and 15')

1 was not between 10 and 15
2 was not between 10 and 15
3 was not between 10 and 15
4 was not between 10 and 15
5 was not between 10 and 15
6 was not between 10 and 15
7 was not between 10 and 15
8 was not between 10 and 15
The value was 9
10 is greater than or equal to 10
11 is greater than or equal to 10
11 is less than 15
12 is greater than or equal to 10
12 is less than 15
13 is greater than or equal to 10
13 is less than 15
14 is greater than or equal to 10
14 is less than 15
15 is greater than or equal to 10
16 is greater than or equal to 10
17 is greater than or equal to 10
18 is greater than or equal to 10
19 is greater than or equal to 10

In [ ]:
for x in list(range(1,21)): 
    if x >= 10:
        if (x < 15):
            print(f'{x} is less than 15 and greater than or equal to 10')
        else:
            print(f'{x} is greater than or equal to 10 and more than 15')
    elif x == 9:
        print('The value was 9')
    else:
        print(f'{x} was not between 10 and 15')

In [70]:
for numbers in list(range(1,101)):
    if numbers <= 101:
        if(numbers % 3 == 0):
            print(f'{numbers} fizz')
    if numbers <= 101:
        if(numbers % 5 == 0):
            print(f'{numbers} bang')
    if numbers <= 101:
        if(numbers % 3 == 0) & (numbers % 5 == 0):
            print(f'{numbers} fizzbang')

3 fizz
5 bang
6 fizz
9 fizz
10 bang
12 fizz
15 fizz
15 bang
15 fizzbang
18 fizz
20 bang
21 fizz
24 fizz
25 bang
27 fizz
30 fizz
30 bang
30 fizzbang
33 fizz
35 bang
36 fizz
39 fizz
40 bang
42 fizz
45 fizz
45 bang
45 fizzbang
48 fizz
50 bang
51 fizz
54 fizz
55 bang
57 fizz
60 fizz
60 bang
60 fizzbang
63 fizz
65 bang
66 fizz
69 fizz
70 bang
72 fizz
75 fizz
75 bang
75 fizzbang
78 fizz
80 bang
81 fizz
84 fizz
85 bang
87 fizz
90 fizz
90 bang
90 fizzbang
93 fizz
95 bang
96 fizz
99 fizz
100 bang

In [ ]:
numbers in list(range(1,101))

for number in numbers:
     if(numbers % 3 == 0) & (numbers % 5 == 0):
        print('fizzbang')
    if numbers <= 101:
        if(numbers % 5 == 0):
            print(f'{numbers} bang')
    if numbers <= 101:
        if(numbers % 3 == 0) & (numbers % 5 == 0):
            print(f'{numbers} fizzbang')