In [2]:
x = 5
y = 10
sum_1_2 = x + y
print(sum_1_2)

15

In [3]:
x = 10.0
y = 5
z = x + y
print(type(z))

<class 'float'>

In [4]:
x = 2
y = 10
z = y * x
print(z)

20

In [5]:
ci = 2
pi = 3.14
ar = pi * ci ** 2
print(ar)

12.56

In [6]:
name = "Naomi"
job = "teacher"
longer_string = "My name is " + name + " and I am the " + job
print(longer_string)

phrase = f"My name is {name} and I am the {job}."

My name is Naomi and I am the teacher

In [7]:
name = "Naomi"
job = "Intelligence Analyst"
longer_string = "My name is " + name + " and I am an " + job
print(longer_string)

phrase = f"My name is {name} and I am an {job}."
print(phrase)

My name is Naomi and I am an Intelligence Analyst
My name is Naomi and I am an Intelligence Analyst.

In [8]:
slice_this_phrase = 'dog cat racoon'
animal_1 = slice_this_phrase[0:3]
animal_2 = slice_this_phrase[4:7]
animal_3 = slice_this_phrase[-6:]
print(animal_1)
print(animal_2)
print(animal_3)

dog
cat
racoon

In [9]:
list_1 = [1, phrase, longer_string, "Hi"]
print(list_1)

[1, 'My name is Naomi and I am an Intelligence Analyst.', 'My name is Naomi and I am an Intelligence Analyst', 'Hi']

In [10]:
colours = ["red", "blue", "green", "purple"]
# [start:stop:step]
print(colours[1::2])

colours.append("teal")
print(colours)

more_colours = ["brown", "gold", "white"]
colours.extend(more_colours)
print(colours)

['blue', 'purple']
['red', 'blue', 'green', 'purple', 'teal']
['red', 'blue', 'green', 'purple', 'teal', 'brown', 'gold', 'white']

In [11]:
x = 7
y = 5
z = x + y
z_1 = x - y
z_2 = x * x
z_3 = y * y
z_4 = x ** y
print(z)
print (z_1)
print (z_2)
print (z_3)
print (z_4)

Math = print(z), print (z1), print (z2)
print (Math)

12
2
49
25
16807
12

NameError: name 'z1' is not defined

In [ ]:
CC = "4444444444444444"
Last_4_CC = CC[-4:]
CCX = "XXXXXXXXXXXX"
Anon = CCX + Last_4_CC

print(Last_4_CC)
print(Anon)

4444
XXXXXXXXXXXX4444

In [ ]:
dict_1 = {}

In [ ]:
Naomi = {"Name" : "Naomi",
                "Job Title" : "Analyst",
                "Hours" : "Lots",
                "Salary" : "10"}

Colours_dict = {"Naomi" :"Red",
                "Ellie" :"Green",
                "Archie" :["Blue", "Red", "Green"],
                "Brett" :Black}

print(Colours_dict)

NameError: name 'Black' is not defined

In [ ]:
Rest = {'Wimpy':'Burgers',
        'McDonalds':'Chips',
        'Burger King':'Wraps'}

print(Rest)

Wimpy_food = Rest['Wimpy']
print(Wimpy_food)

{'Wimpy': 'Burgers', 'McDonalds': 'Chips', 'Burger King': 'Wraps'}
Burgers

In [ ]:
print(Rest.keys())
print(Rest.values())
print(Rest.items())

print('Curry house' in Rest)
print('Chips' in Rest)

dict_keys(['Wimpy', 'McDonalds', 'Burger King'])
dict_values(['Burgers', 'Chips', 'Wraps'])
dict_items([('Wimpy', 'Burgers'), ('McDonalds', 'Chips'), ('Burger King', 'Wraps')])
False
False

In [ ]:
Rest['KFC'] = 'Chicken'
Wimp = Rest['Wimpy']

print(Rest)
print(Wimp)
print('McDonalds' in Rest)

{'Wimpy': 'Burgers', 'McDonalds': 'Chips', 'Burger King': 'Wraps', 'KFC': 'Chicken'}
Burgers
True

In [ ]:
import pandas as pd

filepath = 'https://raw.githubusercontent.com/data-to-insight/csc-validator-be-903/main/tests/fake_data/header.csv'

header_fake = pd.read_csv(filepath)

In [ ]:
print(header_fake.head(10))
print(header_fake.tail(10))
print(header_fake.info(10))

    CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
0  566910    2  27/03/2008   WROM  D051910639385     NaN    NaN
1  384923    2  09/09/2011   REFU  L034811502612     NaN    NaN
2  709901    1  14/02/2013   ABAN  Y021751958510     NaN    NaN
3  550084    2  04/05/2008   AOTH  R095578985099     NaN    NaN
4  710229    2  15/04/2002   REFU  Z095096287583     NaN    NaN
5  733831    1  06/07/2013   WROM  Z005227500041     NaN    NaN
6   69112    2  11/09/2010   ABAN  X089575916879     NaN    NaN
7  853884    2  09/10/2004   WBRI  U096513817313     NaN    NaN
8  634852    2  19/10/2006   WIRI  X019131453866     NaN    NaN
9  512087    1  01/10/2003   MOTH  J091207487052     NaN    NaN
       CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
2665  199656    1  08/07/2009   WOTH  G006043737339     NaN    NaN
2666  587124    1  14/10/2006   AOTH  X013739746473     NaN    NaN
2667  558581    1  05/07/2001   MWBC  S048947751783     NaN    NaN
2668  937984    2  08/05/2008   WROM  B072095547455     NaN    NaN
2669  942735    2  27/10/2010   BCRB  V010957149459     NaN    NaN
2670  152113    1  06/06/2003   WBRI  K096794376750     NaN    NaN
2671  481370    2  12/02/2008   BAFR  C014150452081     NaN    NaN
2672  791577    1  28/05/2011   WBRI  Q009369089812     NaN    NaN
2673  238470    1  21/11/2013   AIND  P095222532769     NaN    NaN
2674  437361    1  15/12/2012   WROM  G018001328504     NaN    NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2675 entries, 0 to 2674
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CHILD   2675 non-null   int64
 1   SEX     2675 non-null   int64
 2   DOB     2675 non-null   object
 3   ETHNIC  2675 non-null   object
 4   UPN     2675 non-null   object
 5   MOTHER  1 non-null      float64
 6   MC_DOB  1 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 146.4+ KB
None

In [ ]:
d_1 ={'col1':[1, 2, 3],
      'col2':['A', 'B', 'C'],
      'col3':['foo', 'bar', 'baz']}

df_1 = pd.DataFrame(d_1)
print(df_1)

df_2 =pd.DataFrame([
    {'column1':1,
     'column2':'A',
     'column3':'foo'},
     {'column1':2,
     'column2':'B',
     'column3':'bar'},
     {'column1':3,
     'column2':'C',
     'column3':'baz'},
    ])

print(df_2)

   col1 col2 col3
0     1    A  foo
1     2    B  bar
2     3    C  baz
   column1 column2 column3
0        1       A     foo
1        2       B     bar
2        3       C     baz

In [ ]:
emp_1 = pd.DataFrame([
    {'Name':'Naomi',
     'Salary':'10000',
     'Job Title':'Analyst'},
     {'Name':'Nina',
     'Salary':'10000',
     'Job Title':'Analyst'},
    {'Name':'Sian',
     'Salary':'15000',
     'Job Title':'Line Manager'},
    {'Name':'Julie',
     'Salary':'20000',
     'Job Title':'Team Manager'},
    {'Name':'Suzanne',
     'Salary':'30000',
     'Job Title':'Director'}
    ])

print(emp_1)

      Name Salary     Job Title
0    Naomi  10000       Analyst
1     Nina  10000       Analyst
2     Sian  15000  Line Manager
3    Julie  20000  Team Manager
4  Suzanne  30000      Director

In [ ]:
emp_1['Salary'] = emp_1['Salary'].astype('int')

mean_salary = emp_1['Salary'].mean()
sum_salary = emp_1['Salary'].sum()
max_salary = emp_1['Salary'].max()
min_salary = emp_1['Salary'].min()

print(f'The mean salary is: {mean_salary}')
print(f'The total of salaries is: {sum_salary}')
print(f'The max and min salaries respectively are: {max_salary}, {min_salary}')

The mean salary is: 17000.0
The total of salaries is: 85000
The max and min salaries respectively are: 30000, 10000

In [ ]:
import pandas as pd

list_of_dicts = [
    {'col1:1,
     'col2':2},
     {'col1':'A',
      'col2':'B'}
]

df = pd.DataFrame(list_of_dicts)

print(df)

In [ ]:
filename = https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/1980%202023%20average%20house%20prices.csv

df = pd.read_csv(filename)

print(df.head())

In [13]:
# 01/01/2000
# %d/%m/%Y
# strftime
# %b month but with local shortening eg: jan
# %B month month name January

df['Period'] = pd.to.datetime(df['Period'], format= '%Y-%m', errors='coerce')

df ['Age of Data (Years)'] = pd.to_datetime('today').normalize() - df ['Period']

NameError: name 'pd' is not defined

In [ ]:
import numpy as np

df['Age of Data (Years)'] = df (['Age of Data (Years)'] / np.timedelta64(1, 'Y'))
print (df)

NameError: name 'df' is not defined

In [12]:
df = df[['LAchildID', 'PersonBirthDate', 'GenderCurrent']]

df['PersonBirthDate'] = pd.to_datetime(df['PersonBirthDate'], format='%Y-%m-%d', errors='coerce')

df['Age'] = pd.to_datetime('today').normalize() - df['PersonBirthDate']
df['Age'] = (df['Age'] / pd.Timedelta('365 days')
print(df)

SyntaxError: '(' was never closed (2471636304.py, line 6)

In [14]:
gender_map = (1:'Male',
              2:'Female',
              0:'Unknown',
              9:'Unknown')

df['GenderCurrent'] = df['GenderCurrent'].mpa()

print(df)

SyntaxError: invalid syntax (1754380349.py, line 1)